In [1]:
#import libraries

import pandas as pd

In [4]:
county_elections = pd.read_csv('countypres_2000-2020.csv')
county_elections.head()

,year,state,state_po,county_name,county_fips,office,candidate,party,candidatevotes,totalvotes,version,mode
0,2000,ALABAMA,AL,AUTAUGA,1001.0,US PRESIDENT,AL GORE,DEMOCRAT,4942,17208,20220315,TOTAL
1,2000,ALABAMA,AL,AUTAUGA,1001.0,US PRESIDENT,GEORGE W. BUSH,REPUBLICAN,11993,17208,20220315,TOTAL
2,2000,ALABAMA,AL,AUTAUGA,1001.0,US PRESIDENT,RALPH NADER,GREEN,160,17208,20220315,TOTAL
3,2000,ALABAMA,AL,AUTAUGA,1001.0,US PRESIDENT,OTHER,OTHER,113,17208,20220315,TOTAL
4,2000,ALABAMA,AL,BALDWIN,1003.0,US PRESIDENT,AL GORE,DEMOCRAT,13997,56480,20220315,TOTAL

In [6]:
county_elections.dtypes

year                int64
state              object
state_po           object
county_name        object
county_fips       float64
office             object
candidate          object
party              object
candidatevotes      int64
totalvotes          int64
version             int64
mode               object
dtype: object

In [7]:
len(county_elections)

72617

In [10]:
county_elections.state.value_counts()

TEXAS                   5334
GEORGIA                 4452
VIRGINIA                3736
NORTH CAROLINA          3600
ARKANSAS                2700
IOWA                    2574
MISSOURI                2436
KENTUCKY                2400
OKLAHOMA                2156
ILLINOIS                2142
SOUTH CAROLINA          2116
KANSAS                  1995
INDIANA                 1932
MINNESOTA               1827
TENNESSEE               1805
NEBRASKA                1767
OHIO                    1760
MICHIGAN                1743
MISSISSIPPI             1722
WISCONSIN               1512
FLORIDA                 1407
COLORADO                1340
NEW YORK                1302
LOUISIANA               1280
ALABAMA                 1273
PENNSYLVANIA            1273
SOUTH DAKOTA            1254
CALIFORNIA              1218
WEST VIRGINIA           1100
MONTANA                 1064
NORTH DAKOTA            1060
UTAH                    1039
MARYLAND                 984
IDAHO                    880
ALASKA                   861
WASHINGTON               819
OREGON                   756
NEW MEXICO               693
ARIZONA                  465
WYOMING                  460
NEW JERSEY               441
MAINE                    352
NEVADA                   340
MASSACHUSETTS            294
VERMONT                  294
NEW HAMPSHIRE            190
CONNECTICUT              184
RHODE ISLAND             120
HAWAII                    84
DELAWARE                  60
DISTRICT OF COLUMBIA      21
Name: state, dtype: int64

In [11]:
county_elections.county_name.value_counts()

WASHINGTON           727
FRANKLIN             576
JEFFERSON            563
JACKSON              541
LINCOLN              532
                    ...
HAMPTON CITY          12
HARRISONBURG CITY     12
WINCHESTER CITY       12
NORTON CITY            8
OGLALA LAKOTA          6
Name: county_name, Length: 1892, dtype: int64

In [12]:
len(county_elections.county_name.unique())

1892

In [13]:
len(county_elections.state.unique())

51

In [14]:
county_elections.party.value_counts()

DEMOCRAT       20906
REPUBLICAN     20906
OTHER          19815
GREEN           6035
LIBERTARIAN     4955
Name: party, dtype: int64

In [15]:
anes = pd.read_csv('anes_timeseries_cdf_csv_20220916/anes_timeseries_cdf_csv_20220916.csv')

anes.head()

/var/folders/hr/bqgkryq90tz9s1z4nh0ldql00000gn/T/ipykernel_39968/2230248605.py:1: DtypeWarning: Columns (4,5,6,7,8,9,13,14,17,18,19,21,22,23,24,25,26,27,28,29,30,31,32,33,34,38,39,40,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,233,254,275,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,361,382,403,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,776,787,798,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029) have mixed types. Specify dtype option on import or set low_memory=False.
  anes = pd.read_csv('anes_timeseries_cdf_csv_20220916/anes_timeseries_cdf_csv_20220916.csv')

,Version,VCF0004,VCF0006,VCF0006a,VCF0009x,VCF0010x,VCF0011x,VCF0009y,VCF0010y,VCF0011y,...,VCF9272,VCF9273,VCF9274,VCF9275,VCF9277,VCF9278,VCF9279,VCF9280,VCF9281,VCF9282
0,ANES_CDF_VERSION:2022-Sep-16,1948,1001,19481001,1,1,1,1,1,1,...,,,,,,,,,,
1,ANES_CDF_VERSION:2022-Sep-16,1948,1002,19481002,1,1,1,1,1,1,...,,,,,,,,,,
2,ANES_CDF_VERSION:2022-Sep-16,1948,1003,19481003,1,1,1,1,1,1,...,,,,,,,,,,
3,ANES_CDF_VERSION:2022-Sep-16,1948,1004,19481004,1,1,1,1,1,1,...,,,,,,,,,,
4,ANES_CDF_VERSION:2022-Sep-16,1948,1005,19481005,1,1,1,1,1,1,...,,,,,,,,,,