# Machine Learning Model

In [1]:
# Import dependencies for random forest

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.datasets import make_classification
import sklearn as skl
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
# dependencies for sql
import sqlalchemy as sql
from sqlalchemy import create_engine
import psycopg2
from sqlalchemy import MetaData

/Users/dylanmontemayor/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [3]:
# other dependencies
import pandas as pd
import numpy as np
import csv
import os

In [4]:
# Import AWS password
from config import key

# Connecting database (AWS)

In [5]:
#Connection to the aws to import the data
engine = sql.create_engine(f'postgresql://ElectionTeam:{key}@final-data-project.cxtxzq2kyq9u.us-east-1.rds.amazonaws.com:5432/election_data')

# Reading database

In [6]:
#Importing the database from AWS
elec_df=pd.read_sql_table("main_database", con= engine)
elec_df.head()

,county_name,POPESTIMATE2019,INTERNATIONALMIG2019,DEMOCRAT,REPUBLICAN,LIBERTARIAN,GREEN,OTHER,WINNER,Debt_All,Debt_Communities_Color,Debt_Majorities_White,Avg_Household_Income_All,Avg_Non_Hispanic,Avg_Non_White_Income
0,AUTAUGA,55869,-16,7503.0,19838.0,0.0,0.0,429.0,0,.2623955,49,.2649472,75326,82971,50809
1,BULLOCK,10101,-1,3446.0,1146.0,0.0,0.0,21.0,1,.2777778,.2727273,49,48571,80344,39215
2,CHILTON,44428,35,3073.0,16085.0,0.0,0.0,152.0,0,.2815014,49,.280027,62784,65857,47591
3,COLBERT,55241,73,8343.0,19203.0,0.0,0.0,340.0,0,.2895472,49,.2890272,60904,65431,42998
4,CONECUH,12067,1,2966.0,3442.0,0.0,0.0,33.0,0,.3046358,.3030303,.3,47286,54421,40122

In [7]:
# veryfing length
len(elec_df)

1779

# Preprocessing the data

Our goal is to predict if a ccounty were the Democrat Party won, won based on information we have in our DataFrame. To do this, we'll have to preprocessing the data, split our dataset into features (or inputs) and target (or outputs). 

The target, y, will be "winner", so we need to take out the winner columns. But also the parties columns because they are totally related with "winner", and we do not want to bias the predictive model. 

All the variables will help us determine if a county where the Democratic Party won has a population that is aligned with the party's ideology. In this sense, it is believed that the Democrats are more liberal and receptive of the immigrant population and minorities.

In [8]:
elec_df[["Debt_All","Debt_Communities_Color","Debt_Majorities_White"]] = elec_df[["Debt_All","Debt_Communities_Color","Debt_Majorities_White"]].apply(pd.to_numeric)

elec_df.dtypes

county_name                  object
POPESTIMATE2019               int64
INTERNATIONALMIG2019          int64
DEMOCRAT                    float64
REPUBLICAN                  float64
LIBERTARIAN                 float64
GREEN                       float64
OTHER                       float64
WINNER                        int64
Debt_All                    float64
Debt_Communities_Color      float64
Debt_Majorities_White       float64
Avg_Household_Income_All      int64
Avg_Non_Hispanic              int64
Avg_Non_White_Income         object
dtype: object

In [9]:
#Preprocessing the data, we change the values of 49 to zero so it could be in the same format as the other values, the values gos from 0 to 1, because they are rates.
elec_df1=elec_df.replace(49,0)
elec_df1.head()

,county_name,POPESTIMATE2019,INTERNATIONALMIG2019,DEMOCRAT,REPUBLICAN,LIBERTARIAN,GREEN,OTHER,WINNER,Debt_All,Debt_Communities_Color,Debt_Majorities_White,Avg_Household_Income_All,Avg_Non_Hispanic,Avg_Non_White_Income
0,AUTAUGA,55869,-16,7503.0,19838.0,0.0,0.0,429.0,0,0.262396,0.000000,0.264947,75326,82971,50809
1,BULLOCK,10101,-1,3446.0,1146.0,0.0,0.0,21.0,1,0.277778,0.272727,0.000000,48571,80344,39215
2,CHILTON,44428,35,3073.0,16085.0,0.0,0.0,152.0,0,0.281501,0.000000,0.280027,62784,65857,47591
3,COLBERT,55241,73,8343.0,19203.0,0.0,0.0,340.0,0,0.289547,0.000000,0.289027,60904,65431,42998
4,CONECUH,12067,1,2966.0,3442.0,0.0,0.0,33.0,0,0.304636,0.303030,0.300000,47286,54421,40122

In [10]:
#Drop the columns that won´t be used as features
election_df=elec_df1.drop(columns=["county_name","DEMOCRAT","REPUBLICAN","LIBERTARIAN","GREEN","OTHER"])
election_df.head()

,POPESTIMATE2019,INTERNATIONALMIG2019,WINNER,Debt_All,Debt_Communities_Color,Debt_Majorities_White,Avg_Household_Income_All,Avg_Non_Hispanic,Avg_Non_White_Income
0,55869,-16,0,0.262396,0.000000,0.264947,75326,82971,50809
1,10101,-1,1,0.277778,0.272727,0.000000,48571,80344,39215
2,44428,35,0,0.281501,0.000000,0.280027,62784,65857,47591
3,55241,73,0,0.289547,0.000000,0.289027,60904,65431,42998
4,12067,1,0,0.304636,0.303030,0.300000,47286,54421,40122

# Defining Tarjet and Features

The features set, X, are:

1. POPESTIMATE2019: population estimate for 2019.
2. INTERNATIONALMIG2019: international migration estimate for 2019 per each county.
3. Debt_All: rate of the county population with credit debt.
4. Debt_Communities_Color: county population rate disaggregated by communities of color with credit debt.
5. Debt_Majorities_White: county population rate disaggregated by communities with majorities white with credit debt.
6. Avg_Household_Income_All: county population average income.
7. Avg_Non_Hispanic: average income of non hispanic population.
8. Avg_Non_White_Income: average income of non white population.

The target set is the winner column, indicating whether or not a county won the Democrat party. If the Democrat Party lost the county (0) and if it won (1).

In [11]:
#Define target and features
y=election_df["WINNER"]
X=election_df.drop(columns="WINNER")

In [12]:
X.head()

,POPESTIMATE2019,INTERNATIONALMIG2019,Debt_All,Debt_Communities_Color,Debt_Majorities_White,Avg_Household_Income_All,Avg_Non_Hispanic,Avg_Non_White_Income
0,55869,-16,0.262396,0.000000,0.264947,75326,82971,50809
1,10101,-1,0.277778,0.272727,0.000000,48571,80344,39215
2,44428,35,0.281501,0.000000,0.280027,62784,65857,47591
3,55241,73,0.289547,0.000000,0.289027,60904,65431,42998
4,12067,1,0.304636,0.303030,0.300000,47286,54421,40122

In [13]:
# We define the target set using the ravel() method, which performs the same procedure on our target set data as the values attribute
y=election_df["WINNER"].ravel()
y[:10]

array([0, 1, 0, 0, 0, 0, 0, 0, 0, 0])

# Random forest model

- We chose a Random forest model because of it´s high accuracy and interpretability. It can easily handle non linear data and outliers. The input will be in the form of tabular data (no images or natural language). A random forest model with a sufficient number of estimators and tree depth should be able to perform at a similar capacity to most deep learning models.
- We want a classifiter that predict which political party will win given certain conditions (features).
- We need to consider if the data classes have imbalance to apply an oversampling or undersampling technique. 
- The data will have over 1779 rows and 8 feature columns.
- After having everything in numerical values, we will standarized the data. 
- We will keep the default percentage of training and testing data (75% for training and 25% for testing)

## Split the data for train and test

To train and validate our model, we'll need to split the features and target sets into training and testing sets. This will help determine the relationships between each feature in the features training set and the target training set, which we'll use to determine the validity of our model using the features and target testing sets.

In [14]:
#Use sklearn to split dataset for train and test
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=0)

- When the train_test_split() function is executed, our data is split into a specific proportion of the original data sets. By default, our training and testing data sets are 75% and 25%, respectively, of the original data.

In [15]:
# Determine the shape of our training and testing sets.
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1334, 8)
(445, 8)
(1334,)
(445,)

## Scale
To scale the data in this DataFrame, we'll first import the StandardScaler module and create an instance of it. Then The next step is to train the scaler and transform the data. We needed to scale the data because the population feature has a larger scale.

In [16]:
#Create scaler instance
X_scaler=skl.preprocessing.StandardScaler()

#Fit the scaler
X_scaler.fit(X_train)

#Scale the data
X_train_scaled=X_scaler.transform(X_train)
X_test_scaled=X_scaler.transform(X_test)

/Users/dylanmontemayor/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name']. An error will be raised in 1.2.
  FutureWarning,
/Users/dylanmontemayor/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name']. An error will be raised in 1.2.
  FutureWarning,
/Users/dylanmontemayor/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name']. An error will be raised in 1.2.
  FutureWarning,

# 1st Trial
## Fitting the Random Forest Model

Before we fit the random forest model to our X_train_scaled and y_train training data, we'll create a random forest instance using the random forest classifier.

The n_estimators will allow us to set the number of trees that will be created by the algorithm. Generally, the higher number makes the predictions stronger and more stable, but can slow down the output because of the higher training time allocated. The best practice is to use between 64 and 128 random forests, though higher numbers are quite common despite the higher training time.

The fist trial we are going to use 80 estimators.

In [17]:
#First trial with n_stimators=80
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=80, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

## Making Predictions Using the Testing Data

In [18]:
# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
y_pred

array([0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0])

## Model Evaluation
We analyzed how well our random forest model classifies using the confusion_matrix.

In [19]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test,y_pred )

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual  1"], columns=["Predicted 0", "Predicted 1"]
)

cm_df

           Predicted 0  Predicted 1
Actual 0           338           22
Actual  1           39           46

The results show that:

- Out of 360 counties were the democrat party lost, (Actual 0), 338 were predicted to be true (Predicted 0), which we call true positives.
- Out of 360 counties were the democrat party lost, (Actual 0), 22 were predicted to be false (Predicted 1), which are considered false negatives.
- Out of 85 counties were the democrat party won (Actual 1), 39 were predicted to be false (Predicted 0) and are considered false positives.
- Out of 85 counties were the democrat party won (Actual 1), 46 were predicted to be true (Predicted 1) and are considered true negatives.

TP+TN/Total = 0.86
Predicted lost = 377
Predicted won = 68
Actual lost = 360
Actual won = 85
Total observations =445

In [20]:
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")
print(classification_report(y_test,y_pred))

 Random forest predictive accuracy: 0.863
              precision    recall  f1-score   support

           0       0.90      0.94      0.92       360
           1       0.68      0.54      0.60        85

    accuracy                           0.86       445
   macro avg       0.79      0.74      0.76       445
weighted avg       0.85      0.86      0.86       445

# 2nd Trial

In [21]:
#Second trial with n_stimators=200
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=200, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")
print(classification_report(y_test,y_pred))

 Random forest predictive accuracy: 0.867
              precision    recall  f1-score   support

           0       0.90      0.94      0.92       360
           1       0.69      0.56      0.62        85

    accuracy                           0.87       445
   macro avg       0.79      0.75      0.77       445
weighted avg       0.86      0.87      0.86       445

In [22]:
#Evaluate the model
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0          338           22
Actual 1           37           48

The results show that:

- Out of 360 counties were the democrat party lost, (Actual 0), 338 were predicted to be true (Predicted 0), which we call true positives.
- Out of 360 counties were the democrat party lost, (Actual 0), 22 were predicted to be false (Predicted 1), which are considered false negatives.
- Out of 85 counties were the democrat party won (Actual 1), 37 were predicted to be false (Predicted 0) and are considered false positives.
- Out of 85 counties were the democrat party won (Actual 1), 48 were predicted to be true (Predicted 1) and are considered true negatives.

TP+TN/Total = 0.87
Predicted lost = 375
Predicted won = 70
Actual lost = 360
Actual won = 85
Total observations =445

# 3rd Trial

In [23]:
#Third trial with n_estimators=128
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")
print(classification_report(y_test,y_pred))

 Random forest predictive accuracy: 0.863
              precision    recall  f1-score   support

           0       0.90      0.93      0.92       360
           1       0.67      0.56      0.61        85

    accuracy                           0.86       445
   macro avg       0.78      0.75      0.76       445
weighted avg       0.86      0.86      0.86       445

In [24]:
#Evaluate the model
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0          336           24
Actual 1           37           48

The results show that:

- Out of 360 counties were the democrat party lost, (Actual 0), 336 were predicted to be true (Predicted 0), which we call true positives.
- Out of 360 counties were the democrat party lost, (Actual 0), 24 were predicted to be false (Predicted 1), which are considered false negatives.
- Out of 85 counties were the democrat party won (Actual 1), 37 were predicted to be false (Predicted 0) and are considered false positives.
- Out of 85 counties were the democrat party won (Actual 1), 48 were predicted to be true (Predicted 1) and are considered true negatives.

TP+TN/Total = 0.86
Predicted lost = 373
Predicted won = 72
Actual lost = 360
Actual won = 85
Total observations =445

# Note: We are keeping the second random forest model because it got the best accuracy score.

## Rank the importance of features

In [25]:
# Calculate feature importance in the Random Forest model.
#importances = sorted(rf_model.feature_importances_,reverse=True)
importances = sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)
# We can sort the features by their importance.
importances

[(0.15502075057238643, 'INTERNATIONALMIG2019'),
 (0.14946092233129335, 'Avg_Non_Hispanic'),
 (0.14366021589062822, 'POPESTIMATE2019'),
 (0.13815283996769998, 'Avg_Household_Income_All'),
 (0.11042587994994457, 'Debt_Majorities_White'),
 (0.1044745754475101, 'Debt_All'),
 (0.10116995824308384, 'Avg_Non_White_Income'),
 (0.09763485759745358, 'Debt_Communities_Color')]

### The model shows us that all the features that we included in our database are relevant for predicting the winner party of the county.

## Logistic Regression (Alternative model)

In [26]:
from sklearn.linear_model import LogisticRegression
election_df1=elec_df.copy()
election_df1.head()

,county_name,POPESTIMATE2019,INTERNATIONALMIG2019,DEMOCRAT,REPUBLICAN,LIBERTARIAN,GREEN,OTHER,WINNER,Debt_All,Debt_Communities_Color,Debt_Majorities_White,Avg_Household_Income_All,Avg_Non_Hispanic,Avg_Non_White_Income
0,AUTAUGA,55869,-16,7503.0,19838.0,0.0,0.0,429.0,0,0.262396,49.000000,0.264947,75326,82971,50809
1,BULLOCK,10101,-1,3446.0,1146.0,0.0,0.0,21.0,1,0.277778,0.272727,49.000000,48571,80344,39215
2,CHILTON,44428,35,3073.0,16085.0,0.0,0.0,152.0,0,0.281501,49.000000,0.280027,62784,65857,47591
3,COLBERT,55241,73,8343.0,19203.0,0.0,0.0,340.0,0,0.289547,49.000000,0.289027,60904,65431,42998
4,CONECUH,12067,1,2966.0,3442.0,0.0,0.0,33.0,0,0.304636,0.303030,0.300000,47286,54421,40122

In [27]:
#Define training and testing sets
X2_train, X2_test, y2_train, y2_test = train_test_split(X,y, random_state=0, stratify=y)

In [28]:
#Create scaler instance
X2_scaler=skl.preprocessing.StandardScaler()

#Fit the scaler
X2_scaler.fit(X2_train)

#Scale the data
X2_train_scaled=X2_scaler.transform(X2_train)
X2_test_scaled=X2_scaler.transform(X2_test)

/Users/dylanmontemayor/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name']. An error will be raised in 1.2.
  FutureWarning,
/Users/dylanmontemayor/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name']. An error will be raised in 1.2.
  FutureWarning,
/Users/dylanmontemayor/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name']. An error will be raised in 1.2.
  FutureWarning,

In [29]:
classifier = LogisticRegression(solver="lbfgs", random_state=0)
classifier.fit(X2_train_scaled,y2_train)
y_pred2= classifier.predict(X2_test_scaled)

In [30]:
print(f" Logistic Regression accuracy: {accuracy_score(y2_test, y_pred2):.3f}")
print(classification_report(y2_test, y_pred2))

 Logistic Regression accuracy: 0.834
              precision    recall  f1-score   support

           0       0.84      0.97      0.90       352
           1       0.73      0.32      0.45        93

    accuracy                           0.83       445
   macro avg       0.79      0.65      0.67       445
weighted avg       0.82      0.83      0.81       445

In [31]:
#Evaluate the model
# Calculating the confusion matrix.
cm2 = confusion_matrix(y2_test, y_pred2)

# Create a DataFrame from the confusion matrix.
cm_df2 = pd.DataFrame(
    cm2, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df2

          Predicted 0  Predicted 1
Actual 0          341           11
Actual 1           63           30

### This method compares the actual outcome (y) values from the test set against the model's predicted values. In other words, y_test are the outcomes (whether or not a county is democrat) from the original dataset that were set aside for testing. The model's predictions, y_pred, were compared with these actual values (y_test). The accuracy score is simply the percentage of predictions that are correct. In this case, the model's accuracy score was 0.834, meaning that the model was correct 83.4% of the time.

## Conclusion: We are keeping the logistic regression model because even the accuracy is lower than the random forest, it uses less resources and gets a similar accuracy score.