In [6]:
import pandas as pd
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.datasets import make_classification
import sklearn as skl
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
import sqlalchemy as sql
from sqlalchemy import create_engine
from sqlalchemy import MetaData

In [18]:
#Connection to the aws to import the data
from sqlalchemy import MetaData

engine = sql.create_engine('postgresql://{user}:{password}@final-data-project.cxtxzq2kyq9u.us-east-1.rds.amazonaws.com:5432/election_data')

In [20]:
#Importing the database from AWS
elec_df=pd.read_sql_table("main_database", con= engine)
elec_df

,county_name,POPESTIMATE2019,INTERNATIONALMIG2019,DEMOCRAT,REPUBLICAN,LIBERTARIAN,GREEN,OTHER,WINNER,Debt_All,Debt_Communities_Color,Debt_Majorities_White,Avg_Household_Income_All,Avg_Non_White_Income,Avg_Non_Hispanic
0,ABBEVILLE,24527,-11,4101.0,8215.0,88.0,23.0,6.0,0,.214653,49,.2151163,53822,37805,61259
1,ACADIA,62045,17,5443.0,22596.0,241.0,NaN,145.0,0,.3015544,49,.3034773,61465,36608,67627
2,ACCOMACK,32316,30,7578.0,9172.0,188.0,NaN,24.0,0,.2738408,.2742616,.2801664,63100,49308,69458
3,ADA,481587,26,120539.0,130699.0,5310.0,NaN,2841.0,0,.3067449,49,.3079475,96684,83899,98374
4,ADAIR,22194,3,7687.0,22196.0,314.0,47.0,140.0,0,.3387574,.3504464,49,46729,45996,47520
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1614,YUBA,78668,0,11230.0,17676.0,510.0,124.0,256.0,0,.3227057,49,.3132832,74158,89280,67440
1615,YUMA,10019,47,32995.0,40641.0,1189.0,2.0,35.0,0,.3208191,49,.3208191,68157,46145,72859
1616,ZAPATA,14179,-9,1826.0,2033.0,11.0,4.0,0.0,0,.2682927,.2682927,49,60551,60332,63099
1617,ZAVALA,11840,-2,2864.0,1490.0,13.0,12.0,0.0,1,.3147541,.3125,49,41014,40857,46127
1618,ZIEBACH,2756,0,481.0,404.0,21.0,NaN,NaN,1,49,49,49,52721,42990,73559

In [4]:
#Preprocessing the data
elec_df=elec_df.replace({"debt_all":49,"debt_communities_color":49,"debt_majorities_white":49},0)
elec_df

,county_name,popestimate2019,internationalmig2019,democrat,republican,libertarian,green,other,winner,debt_all,debt_communities_color,debt_majorities_white,avg_household_income_all,avg_non_white_income,avg_non_hispanic
0,ABBEVILLE,24527,-11,4101,23,88,6,8215,0,0.214653,0.000000,0.215116,53822,37805,61259
1,ACADIA,62045,17,5443,0,241,145,22596,0,0.301554,0.000000,0.303477,61465,36608,67627
2,ACCOMACK,32316,30,7578,0,188,24,9172,0,0.273841,0.274262,0.280166,63100,49308,69458
3,ADA,481587,26,120539,0,5310,2841,130699,0,0.306745,0.000000,0.307947,96684,83899,98374
4,ADAIR,22194,3,7687,47,314,140,22196,0,0.338757,0.350446,0.000000,46729,45996,47520
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1614,YUBA,78668,0,11230,124,510,256,17676,0,0.322706,0.000000,0.313283,74158,89280,67440
1615,YUMA,10019,47,32995,2,1189,35,40641,0,0.320819,0.000000,0.320819,68157,46145,72859
1616,ZAPATA,14179,-9,1826,4,11,0,2033,0,0.268293,0.268293,0.000000,60551,60332,63099
1617,ZAVALA,11840,-2,2864,12,13,0,1490,1,0.314754,0.312500,0.000000,41014,40857,46127
1618,ZIEBACH,2756,0,481,0,21,0,404,1,0.000000,0.000000,0.000000,52721,42990,73559

In [5]:
#Drop the columns that wonÂ´t be used as features
election_df=elec_df.drop(columns=["county_name","democrat","republican","libertarian","green","other"])

In [6]:
#Define target and features
y=election_df["winner"]
X=election_df.drop(columns="winner")

In [7]:
X

,popestimate2019,internationalmig2019,debt_all,debt_communities_color,debt_majorities_white,avg_household_income_all,avg_non_white_income,avg_non_hispanic
0,24527,-11,0.214653,0.000000,0.215116,53822,37805,61259
1,62045,17,0.301554,0.000000,0.303477,61465,36608,67627
2,32316,30,0.273841,0.274262,0.280166,63100,49308,69458
3,481587,26,0.306745,0.000000,0.307947,96684,83899,98374
4,22194,3,0.338757,0.350446,0.000000,46729,45996,47520
...,...,...,...,...,...,...,...,...
1614,78668,0,0.322706,0.000000,0.313283,74158,89280,67440
1615,10019,47,0.320819,0.000000,0.320819,68157,46145,72859
1616,14179,-9,0.268293,0.268293,0.000000,60551,60332,63099
1617,11840,-2,0.314754,0.312500,0.000000,41014,40857,46127
1618,2756,0,0.000000,0.000000,0.000000,52721,42990,73559

## Random forest model

- We chose a Random forest model because of itÂ´s high accuracy and interpretability. It can easily handle non linear data and outliers. The input will be in the form of tabular data (no images or natural language). A random forest model with a sufficient number of estimators and tree depth should be able to perform at a similar capacity to most deep learning models.
- We want a classifiter that predict which political partie will win given certain conditions (features).
- We need to consider if the data classes have imbalance to apply an oversampling or undersampling technique. 

- The data will have over 3000 rows and 9 feature columns.
- After having everything in numerical values, we will standarized the data. 
- We will keep the default percentage of training and testing data (75% for training and 25% for testing)

In [8]:
#Use sklearn to split dataset for train and test
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=0)

In [9]:
#Create scaler instance
X_scaler=skl.preprocessing.StandardScaler()

#Fit the scaler
X_scaler.fit(X_train)

#Scale the data
X_train_scaled=X_scaler.transform(X_train)
X_test_scaled=X_scaler.transform(X_test)

### 1st Trial

In [10]:
#First trial with n_stimators=80
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=80, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")
print(classification_report(y_test,y_pred))

 Random forest predictive accuracy: 0.859
              precision    recall  f1-score   support

           0       0.88      0.96      0.92       333
           1       0.68      0.39      0.50        72

    accuracy                           0.86       405
   macro avg       0.78      0.67      0.71       405
weighted avg       0.84      0.86      0.84       405

### 2nd Trial

In [11]:
#Second trial with n_stimators=200
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=200, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")
print(classification_report(y_test,y_pred))

 Random forest predictive accuracy: 0.859
              precision    recall  f1-score   support

           0       0.88      0.96      0.92       333
           1       0.68      0.39      0.50        72

    accuracy                           0.86       405
   macro avg       0.78      0.67      0.71       405
weighted avg       0.84      0.86      0.84       405

### 3rd Trial

In [12]:
#Third trial with n_estimators=128

# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")
print(classification_report(y_test,y_pred))

 Random forest predictive accuracy: 0.862
              precision    recall  f1-score   support

           0       0.88      0.96      0.92       333
           1       0.70      0.39      0.50        72

    accuracy                           0.86       405
   macro avg       0.79      0.68      0.71       405
weighted avg       0.85      0.86      0.85       405

In [13]:
#Evaluate the model
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0          321           12
Actual 1           44           28

#### Rank the importance of features

In [14]:
# Calculate feature importance in the Random Forest model.
#importances = sorted(rf_model.feature_importances_,reverse=True)
importances = sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)
# We can sort the features by their importance.
importances

[(0.1686481325647966, 'internationalmig2019'),
 (0.16630750445360307, 'popestimate2019'),
 (0.1397068369447123, 'avg_household_income_all'),
 (0.13176486465598528, 'avg_non_hispanic'),
 (0.10395702062262153, 'debt_all'),
 (0.102494976326333, 'avg_non_white_income'),
 (0.10040537773715236, 'debt_majorities_white'),
 (0.086715286694796, 'debt_communities_color')]

### Results

## Logistic Regression (Alternative model)

In [15]:
from sklearn.linear_model import LogisticRegression
df2=election_df.copy()
df2

,popestimate2019,internationalmig2019,winner,debt_all,debt_communities_color,debt_majorities_white,avg_household_income_all,avg_non_white_income,avg_non_hispanic
0,24527,-11,0,0.214653,0.000000,0.215116,53822,37805,61259
1,62045,17,0,0.301554,0.000000,0.303477,61465,36608,67627
2,32316,30,0,0.273841,0.274262,0.280166,63100,49308,69458
3,481587,26,0,0.306745,0.000000,0.307947,96684,83899,98374
4,22194,3,0,0.338757,0.350446,0.000000,46729,45996,47520
...,...,...,...,...,...,...,...,...,...
1614,78668,0,0,0.322706,0.000000,0.313283,74158,89280,67440
1615,10019,47,0,0.320819,0.000000,0.320819,68157,46145,72859
1616,14179,-9,0,0.268293,0.268293,0.000000,60551,60332,63099
1617,11840,-2,1,0.314754,0.312500,0.000000,41014,40857,46127
1618,2756,0,1,0.000000,0.000000,0.000000,52721,42990,73559

In [16]:
#Define training and testing sets
X2_train, X2_test, y2_train, y2_test = train_test_split(X,y, random_state=0, stratify=y)

In [17]:
#Create scaler instance
X2_scaler=skl.preprocessing.StandardScaler()

#Fit the scaler
X2_scaler.fit(X2_train)

#Scale the data
X2_train_scaled=X2_scaler.transform(X2_train)
X2_test_scaled=X2_scaler.transform(X2_test)

In [21]:
classifier = LogisticRegression(solver="lbfgs", random_state=0)
classifier.fit(X2_train_scaled,y2_train)
y_pred2= classifier.predict(X2_test_scaled)

In [19]:
print(f" Logistic Regression accuracy: {accuracy_score(y2_test, y_pred2):.3f}")
print(classification_report(y2_test, y_pred2))

 Logistic Regression accuracy: 0.842
              precision    recall  f1-score   support

           0       0.87      0.95      0.91       331
           1       0.62      0.34      0.44        74

    accuracy                           0.84       405
   macro avg       0.75      0.65      0.67       405
weighted avg       0.82      0.84      0.82       405

In [20]:
#Evaluate the model
# Calculating the confusion matrix.
cm2 = confusion_matrix(y2_test, y_pred2)

# Create a DataFrame from the confusion matrix.
cm_df2 = pd.DataFrame(
    cm2, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df2

          Predicted 0  Predicted 1
Actual 0          316           15
Actual 1           49           25

### Results